<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <title>marak89.com - Blog </title>
  <link rel="stylesheet" href="layout.css" type="text/css" />
</head>
<body>
<div id="container">
<div id="topheader">
<div id="logo">marak89<span class="dark">.com</span>
</div>
<div id="nav">
<a href="#">Home</a><a href="#">Forum</a><a href="#">Portfolio</a><a href="#">Usługi</a><a href="#">Strony www</a><a href="#">Kontakt</a>
</div>
</div>
<div id="subheader">
<div id="subcontainer">
<div id="headlines">
<h1>Najnowsze</h1>
<a href="#">fsck.ntfs - dobro czy zło</a><a href="#">Prestigio ASD 5600 - Subiektywnie</a><a
 href="#">Wypad w góry</a><a href="#">Relacja z konferencji</a><a href="#">learn-net - postępy</a>
</div>
<div id="banner">
Współpracuję z :<br />
<a href="http://www.templatesurge.com">
<img src="images/tsbanner.gif" alt="" /></a><br />
</div>
<div id="latesttopics">
<h1>Ostatnio na forum</h1>
<a href="#">learn-net mobile - po co tak?</a><a href="#">Jak było w górach?</a><a
 href="#">Czy warto interesować się nowym ...</a><a href="#">Przerwa w działaniu serwisu</a><a href="#">Plany na rozwój</a>
</div>
</div>
</div>
<div id="register">
<p>Widzę że nie jesteś zalogowany <a href="#">Zaloguj się</a>.</p>
</div>
<div id="bottom">
<div id="left">
<h1>Ostatnie projekty</h1>
<div class="sub"><a href="#">choinki-kozieglowy.com</a><a href="#">rabex-zarki.com</a>
<a href="#">wloczka.com</a><a href="#"> marak89.com</a><a
 href="#">weroznikawozniak.com</a>
</div>
<h1>PHP & MySQL</h1>
<div class="sub"><a href="#">kohana 3.3.0</a><a href="#">twożenie plikow pdf</a>
<a href="#">polski MySQL</a><a href="#">Czas na pytania</a><a
 href="#">Instalacja serwera </a>
</div>
<h1>Linux User & Liniux Server</h1>
<div class="sub"><a href="#">fsck.ntfs - dobro czy zło</a><a href="#">cli - nowa odłona</a>
<a href="#">Ubuntu 13.04</a><a href="#">Ubuntu 13.04 Server</a><a
 href="#">/temp w ramfs</a>
</div>
</div>
<div id="middle">
<h1>Usługi informatyczne:</h1>
<p>Student informatyki oferuje:<br />
- Instalacja/reinstalacja systemów operacyjnych (windows/linux)<br />
- Pomoc w instalacji oprogramowania<br />
- Pomoc w zakupie sprzętu komputerowego / dodatków / akcesoriów<br />
- Budowa / rozbudowa sieci komputerowych kablowych / bezprzewodowych (jestem uczestnikiem kursu CISCO CCNA )<br />
- "korepetycje z komputera" dla każdego. (początkujący użytkownik, uczeń technikum informatycznego, i tak dalej :))<br />
<br />
Preferowane godziny popołudniowe / wieczorne.<br />
<br />
Możliwość dojazdu. </p>

<h1>Twożenie stron internetowych</h1>
<p>
Oferuję stwożenie strony internetowej według indywidualnego projektu. Cena w zależności od zaawansowania projektu. Współpracuję z najlepszymi grafikami. W cenę pakietu wchodzi również SEO. 
</p>
<br />
<div id="leftbox">
<h1>Najnowszy projekt</h1>
<img src="images/image.gif" alt="" />
<div class="lol">
<div class="p2"><a href="">marak89.com</a></div>
</div>
<div class="lol">
<div class="p2">HTML5, CSS,</div>
</div>
<div class="lol">
<div class="p2">developer, webmaster</div>
</div>
<div class="lol">
<div class="p2"></div>
</div>
Marak jest programistą i sieciowecem uznanym w lokalnej społeczności informatycznej. Z jego uslug korzystają najwieksze okoliczne foirmy.<br />
</div>
<div id="rightbox">
<h1>(po)Bierz co chcesz</h1>
<a href="#">Skrypty linux</a><a href="#">Ubuntu</a><a href="#">Programy Windows</a>
<a href="#">Inne</a>
</div>
</div>
<div id="right">
<h1>Polecam</h1>
<div class="sub2"><a href="http://www.NPLinks.com">PR4 Links Directory</a><a href="http://www.pieproxy.com">Free Web Proxy</a>
<a href="http://www.templatesurge.com">Free Site Templates</a><a href="http://www.arcadetopsites.com">Arcade Topsites</a><a
 href="#">Demolished Dreams</a>
</div>
<h1>privateBook</h1>
<div class="sub2"><a href="#">Wyjazd w góry</a><a href="#">Wyjazd nad jeziora</a>
<a href="#">Sesja Foto</a><a href="#">Urodziny</a><a href="#">Iwa</a>
</div>
<h1>Diagnostyka</h1>
<div class="sub"><a href="#">nagios</a><a href="#">server.log</a>
<a href="#">server info</a><a href="#">notatnik</a><a
 href="#">tools</a>
</div>
</div>
</div>
</div>
<div id="footer">
<div class="left"><a href="#">Home</a>
- <a href="#">Forum</a>
- <a href="#">Portfolio</a>
- <a href="#">Usługi</a>
- <a href="#">Strony</a>
- <a href="#">Kontakt</a></div>
<div class="right">Design by: <a href="http://www.templatesurge.com">TemplateSurge</a> Powered by: <a href="">mCMS</a></div>
<div class="middle">Copyright 2006-2013 marak89.com</div>
</div>
</body>
</html>
