
<!doctype html>
<!--[if lt IE 7]>  <html class="no-js ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html class="no-js ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <html class="no-js ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html class="no-js ie gte9"> <![endif]-->
<!--[if !IE]><!--> <html class="no-js no-ie"> <!--<![endif]-->
<html lang="pl">
<head>
	<meta charset="utf-8">
	<title> Belka informacyjna </title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>	
	<script src="cookies.js"></script>	
	<link href="cookies.css" rel="stylesheet" type="text/css" media="all" />
		
</head>


<body style="margin:0;">



<div class="cookie-bar">
<div>
W ramach naszej witryny stosujemy pliki cookies, aby ułatwić Ci korzystanie z naszego serwisu oraz do celów statystycznych. Korzystanie z witryny bez zmiany ustawień dotyczących plików cookies oznacza zgodę na ich użycie oraz zapisanie w pamięci urządzenia. Możesz samodzielnie zarządzać cookies i dokonać zmiany ustawień w swojej przeglądarce.<br>Więcej informacji w naszej <a href="http://wloczka.com/content/6-polityka-cookies">Polityce prywatności</a>.    		
</div>
<span class="close" title="Zamknij (ESC)">OK</span>
</div>

</body>
</html>
