ul#admin_menu a{
	display:block;
	color:#fff;
	text-decoration:none;
	text-align:center;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	height:20px;
	padding:4px 0;
	margin: 0;
}

ul#admin_menu{
	list-style: none;
	padding: 0;
	margin: 0;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	background:black;
	box-shadow: 0 5px 10px #888;
	-webkit-box-shadow: 0 5px 10px #888;
	-moz-box-shadow: 0 5px 10px #888;
}

ul#admin_menu li{
	float: left;
	position: relative;
	width: 150px;
	background-color:#000;
	padding:0;
	margin:0;
}

ul#admin_menu li#am_username {
	background-color:#555;
	float: right;
	padding:0;
	margin:0;
}

ul#admin_menu li ul li{
	position: relative;
	padding:0;
	margin:0;
}

ul#admin_menu li ul{
	list-style: none;
	visibility:hidden;
	position: absolute;
	width:150px;
	top: 28px;
	left: 0;
	padding:0;
	margin:0;
	-webkit-box-shadow: 0 5px 10px #888;
	-moz-box-shadow: 0 5px 10px #888;
}

ul#admin_menu li ul li ul{
	list-style: none;
	visibility:hidden;
	position: absolute;
	width:150px;
	top: 0;
	left: 150px;
	padding:0;
	margin:0;
}

ul#admin_menu li:hover{
	background-color:#999;
	padding:0;
	margin:0;
}

ul#admin_menu li:hover > ul{
	visibility:visible !important;
	padding:0;
	margin:0;
}
