article, aside, details, dialog, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

audio, canvas, embed, keygen, meter, progress, video {
	display: inline-block;
}

[hidden] {
	display: none;
}
